@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white antialiased font-sans selection:bg-primary/30 selection:text-white;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-zinc-900/60 backdrop-blur-md border border-white/10;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-accent;
  }
}