@import "tailwindcss";
@import "./components/animations.css";

@theme {
  --font-sans: Inter, sans-serif;

  /* Custom Colors - Royal Theme */
  --color-background: var(--color-zinc-950);
  --color-surface: var(--color-zinc-900);
  --color-surface-hover: var(--color-zinc-800);

  /* Royal Yellow/Gold */
  --color-primary: var(--color-amber-400);
  --color-primary-hover: var(--color-amber-300);

  /* Royal Blue Details */
  --color-secondary: var(--color-blue-700);

  --color-text-primary: var(--color-zinc-50);
  --color-text-secondary: var(--color-zinc-400);
}

@layer base {
  body {
    @apply antialiased bg-background text-text-primary selection:bg-primary selection:text-white;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface border border-zinc-800/50 backdrop-blur-sm shadow-sm;
  }
}